@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.plumber {
  position: absolute;
  width: 443px;
  height: 700px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

@media (max-width:780px) {
  .plumber {
    display: none;
  }
}